/* .body{
    background: #ccece0;
} */
.box {
width: 181px;
height: 158px;
background: red;
}

.box1 {
    width: 100px;
    height: 100px;
    background: red;
}
/* .box2 {
    width: 100px;
    height: 100px;
    background: #F40D0D;
} */
